body {
    margin: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #18181B;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #A78BFA;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #D946EF;
}